<!DOCTYPE html>
<html ng-app="loginForm">
<head>
    <title>Login</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/signin.css" rel="stylesheet" media="screen">

</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src ="/app.js"></script>

    <div class="container">
        <div class="loginButton" ng-controller="loginController">
            <button class="btn btn-lg btn-primary btn-block" ng-click="submitFunction()" type="submit" >Sign In</button> <br>
        </div>
        <div class="creatAccountButton" ng-controller="makeAccountController"> 
            <button class="btn btn-lg btn-primary btn-block" ng-click="signUp()" type="submit">Make Account</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
